@using AKM.Component.CustomeValidators
@inherits DisplayActorBase
<tr>
    <td width="3%" >
        <input type="checkbox" @onchange="CheckBoxChanged" checked=@IsSelected />
    </td>
    <td width="20%" class="align-middle">
        <img class="rounded-circle" src="@Actor.ProfilePictureURL" alt="@Actor.FullName" style="max-width:80%" />
    </td>
    <td width="20%" class="align-top"> @Actor.FullName</td>
    <td width="20%" class="align-top"> @Actor.Bio</td>
    @if (ShowFooter == true)
    {
        <td class="align-middle" width="30%">
            <div class="w-75 btn-group" role="group">
                <a class="btn  btn-dark" href="@($"actordetails/{Actor.Id}")">Details</a>
                <a class="btn btn-dark" href="@($"editactor/{Actor.Id}")">  Edit</a>
                <a class="btn  btn-dark" @onclick="DeleteActor" >Delete</a>
            </div>
        </td>
    }
</tr> 
<Confirm @ref="confirmBase" ConfirmationChanged="ConfirmDelete_Click" 
ConfirmationMessage=@($"Are you sure you want to delete \"{Actor.FullName}\"")></Confirm>