@page "/editactor/{id}"
@page "/editactor"

@inherits EditActorBase

@if (Actor == null)
{
    <div class="spinner"></div>
}
else
{
    <EditForm Model="@Actor"  OnValidSubmit=@HandleValidSubmit>
        <DataAnnotationsValidator></DataAnnotationsValidator>
        @*<ObjectGraphDataAnnotationsValidator></ObjectGraphDataAnnotationsValidator>*@
        <fieldset>
            <table class="table" style="width:100%">
                <tr>
                    <td style="width:30%">
                        <div align="center">
                            <img src="@picUrl" alt="No Image" class="rounded-circle" align="middle">
                        </div>
                    </td>
                    <td style="width:80%">
                        <div align="left">
                            <div class="form-group">
                                <label for="ProfilePictureURL" class="form-label mt-4">ProfilePictureURL </label>
                                <InputText class="form-control" placeholder="Pic url" @bind-Value="@picUrl"/>
                                <ValidationMessage For="@(()=>Actor.ProfilePictureURL)"></ValidationMessage>
                            </div>
                            <div class="form-group">
                                <label for="FullName" class="form-label mt-4">Full Name</label>
                                <InputText class="form-control" placeholder="Full Name" @bind-Value="Actor.FullName" />
                                <ValidationMessage For="@(()=>Actor.FullName)"></ValidationMessage>
                            </div>
                            <div class="form-group">
                                <label for="Bio" class="form-label mt-4">Bio</label>
                                <InputTextArea class="form-control" placeholder="About" @bind-Value="Actor.Bio" rows="3" />
                                <ValidationMessage For="@(()=>Actor.Bio)"></ValidationMessage>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <hr />
            <div align="right">
                <a class="btn btn-dark" href="/actor">Back</a>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>

        </fieldset>
    </EditForm>
}
